.w-20 {
    margin: 15%;
    margin-top: 10px;
}
/* Definisco lo stile dell'header */
header {
    height: 200px;
    background-image: url(../img/pattern.png);
    background-color: rgb(41, 157, 195);
}

/* Definisco lo stile del logo inserito in html */
.logo-testuale {
    width: 200px;
    margin-top: 150px;
    margin-left: 15%;
}

/* riduco margine del titolo rispetto alle info */
h1 {
    margin-bottom: 0em;
}

/* assegno caratteristiche uniche ripetute alle informazioni sull'autore */
#article-author-info {
    margin-bottom: 0em;
    margin-top: 0em;
    font-weight: 200;
    color: rgb(104, 102, 102);
}

/* assegno informazioni uniche ripetute alle informazioni sulla data */
#article-date {
    margin-top: 0em;
    margin-bottom: 1em;
    font-weight: 100;
    color: rgb(128, 128, 128);
}

.author-name {
    color: rgb(0, 166, 255);
}

/* allineamento immagini di preview aricolo */
.article-preview-images {
    text-align: left;
}

/* impostazione margini e stile dei credits per le immagini di preview */
.photo-preview-description {
    margin-top: 0em;
    margin-bottom: 0em;
    color: rgb(74, 72, 72);
}

/* stile tabella */
.article-table {
    border-collapse: collapse;
}

.highlighted-text {
    background-color: rgb(255, 255, 0);
}

/* imposto lo stile dell'intestazione di tabella */
.headrow {
    background-color: rgb(135, 206, 250);
    text-align: left;
}

.th-text {
    color: white;
}

.w-50 {
    width: 50%;
    color: white;
}

/* imposto colori delle righe di tabella */
.color-row1 {
    background-color: rgb(199, 226, 244);
}

footer {
    color: rgb(128, 128, 128);
}

/* inserisco le due immagini finali con testo sovrapposto */

.image-container-1 {
    background-image: url(../img/monitor.jpg);
    height: 200px;
    width: 200px;
    position: relative;
}

.image-container-2 {
    background-image: url(../img/graph.jpg);
    height: 200px;
    width: 200px;
}

.overlay-text {
    color: white;
    padding: 20px;
}

.overlay-text-second {
    color: white;
    padding: 20px;
}